<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Boostrap con boostwatch--}}
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Red Social</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/public/img/imgshare-logo.png" alt="imgShare">
            </a>
        </div>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{!-- Codigo donde ira el codigo  principal --}}
                {{{body}}}
            </div>
            <div class="col-md-4">
            
                {{> stats }}
                {{> populars }}
                {{> comments}}
            </div>
        </div>
    </div>



    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {{!-- js de boostrap --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{!-- cdn de fontawesome --}}
    <script src="https://kit.fontawesome.com/67acc87cf5.js"></script>

    <script src="/public/js/likes.js"></script>


</body>

</html>